{% extends "base.html" %}
{% block title %}更改商品{% endblock %}
{% block content%}
{% if doagain == False %}
    <script>alert("更改商品成功！")</script>
    <script>window.location.href='listMyGoods'</script>
{% endif %}
{% if alert1 == False %}
    <script>alert("查無此商品！")</script>
    <script>window.location.href='updateGoods'</script>
{% endif %}
<h2>更改商品</h2>
<form method = "POST">
    {% csrf_token %}
    {{form.as_p}}
<input type="submit" value="更改"/> <input type="button" value="回上頁" onclick="location.href='listMyGoods'">
</form>
<h2>我的商品</h2>
{% for i in mygoods %}
<p>商品編號:{{i.id}} 名稱:{{i.name}} 價格:{{i.price}} 庫存:{{i.quality}}</p><br>
{% endfor %}
{% endblock %}